.subTotalComponent{
  background-color: #f0faff;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  box-shadow: 10px 10px 10px rgba(54, 50, 50, 0.3);

}