.home-container{
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  box-sizing: border-box;

}

.home-container figure{
  height:80vh;
  width:99vw;
}

.home-container figure img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 25%;
}

.home-content{
  width:40%;
  height: 30%;
  background-color: whitesmoke;
  position: absolute;
  z-index: 99999;
  top: 40%;
  left:55%;
  padding: 2rem 1rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 10px 10px 10px rgba(54, 50, 50, 0.3);
}

.home-content p{
  font-size: 16px;
  line-height: 1;
}